@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: Anybody;
    font-size: 20px;
    --AzulFly: rgb(43,133,212);
}

.error{
    font-weight: bold;
    color: var(--AzulFly);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    padding: 10vw;
}

header img{
    width: 80vw;
}

main{
    flex-grow: 1;
}

form#busqueda{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

form#busqueda fieldset{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border: none;
}

form#busqueda input{
    width: 60vw;
    max-width: 220px;
    min-width: 90px;
    height: 25px;
    padding: 5px;
}

form#busqueda button{
    width: 30vw;
    height: 28px;
    border-radius: 10px;
    background-color: var(--AzulFly);
    color: whitesmoke;
    font-weight: bold;
    max-width: 110px;
    min-width: 75px;
}

main div#visor{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 1rem;
    font-size: 0.7rem;
    text-align: center;
}

@keyframes loading {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}

main div#visor img.loading{
    animation-duration: 2s;
    animation-name: loading;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 100px;
    height: 113px;
}

main div#visor>div>div:first-child{
    font-size: 20px;
    color: var(--AzulFly);
    margin-bottom: 2rem;
}

main div#visor>div div.contenido{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

main div#visor>div div.contenido>div{
    display: flex;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 5px 10px 20px var(--AzulFly);
    margin: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


main div#visor img{
    width: 110px;
    height: 20px;
}

footer{
    font-size: 10px;
    text-align: center;
    padding-bottom: 10px;
}

footer img{
    width: 10px;
}

@media (min-width:700px){
    :root{
        font-size: 18px;
    }

    header{
        padding: 0;
        padding-top: 5vh;
        display: flex;
        margin-bottom: 10vh;
    }

    header img{
        width: 50vw;
        margin: 0 auto;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    main div#visor{
        font-size: 1rem;
    }

    main div#visor img.loading{
        width: 300px;
        height: 344px;
    }

    form#busqueda{
        flex-direction: row;
        justify-content: center;
        width: 90vw;
    }

    form#busqueda fieldset{
        display: inline;
        min-width: 580px;
    }
    
    form#busqueda input{
        max-width: 75px;
        min-width: 75px;
    }
    
    form#busqueda input#origen{
        margin-right: 1rem;
    }

    footer{
        font-size: 15px;
    }

    footer img{
        width: 15px;
    }
}